

li {
	display: inline;
	padding-left: 20px;
}

a{
	text-decoration: none;
}

h3{
	color: #D06E32;
	letter-spacing: 2px;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header{
	position: absolute;
	margin-top: 0;
	z-index: 10;
	right:70px
}

.nav-text{
	text-decoration: none;
	color:  #f4f4f4;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.nav-text:hover{
	text-decoration: none;
	color:  #EE5B4C;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.nav-text2{
	text-decoration: none;
	color:  #4A4A4A;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.nav-text2:hover{
	text-decoration: none;
	color:  #EE5B4C;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

#row {
	width: 100%;
	position: relative;
	padding-top: 20px;
    float: left;
    display: inline;
}

/*Hero Section */
#hero {
	margin-top: 0;
	height: 650px;
	position: relative;
	background-image : url(images/hero.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;

}


#greet h1{
	color: #f4f4f4;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

#hero p{
	margin-top: -20px;
	margin-bottom: 30px;
	color: #f4f4f4;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

#greet {
	width: 80%;
	margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
   	padding-top: 350px;
   	font-weight: lighter;

}

#buttonMiddle {
	text-align: center;
    
}

#donate1 {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
    border: 2px solid #EE5B4C;
    color: #EE5B4C;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

#donate1:hover {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #EE5B4C;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

/*About Us Section */

#aboutSection {
	height: 500px;
}

#aboutSection h3 {
	margin-top: 40px;
	margin-left: 50px;
}

#aboutLeft {
	margin-top: 40px;
	margin-left: 20%;
	width: 28%;
	float:left;
	display: block;
	position: relative;
}

#aboutRight {
	margin-top: 40px;
	margin-left: 40px;
	width: 28%;
	display: inline-block;
	position: relative;
	float: left;

}

#textCenter {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	
}

#centerCircle {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
}

#aboutSection a {
	color: #EE5B4C;
}

/*Donate Section */

#donateSection{
height: 300px;
background-image:url("images/donate-bg.jpg");
}

#middleDonate{
	text-align: center;
	padding-top: 130px;
}

#middleDonate p{
	color: #f4f4f4;
	letter-spacing: 1px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 25px;
}

#donateButton {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #EE5B4C;
    background-color: transparent;
    border: 2px solid;
    color: #EE5B4C;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

#donateButton:hover {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #EE5B4C;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}
/*Contact Section */

#contactForm {
	position: relative;
	display: block;
	float: left;
}
#contactSection {
	margin-left: 50px; 
}

#contactSection p {
	color: #4A4A4A;
	font-size: 12px;
}

#contactSection span {
	color: #4A4A4A;
	font-size: 12px;
}

#contactSection textarea{
	color: #4A4A4A;
	font-size: 12px;
	border: 2px solid;
}
select {
	color: #4A4A4A;
	font-size: 12px;
	border: 2px solid;
	background-color: transparent;
	border:none;

}

input {
	color: #4A4A4A;
	font-size: 12px;
	border: 2px solid;
	background-color: transparent;

}

.select-style {
	padding: 0;
    margin: 0;
    border: 2px solid #4A4A4A;;
    color: #4A4A4A;
    width: 315px;
    height: 20px;
    border-radius: 1px;
    background-color: transparent;
    overflow: hidden;
     background: #fff url("images/arrow-black.png") no-repeat 98% 50%;
}

.select-style select {
    padding: 3px 4px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

#check input {
	border: 2px solid;
}

#submitButton {
	margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #EE5B4C;
    background-color: transparent;
    border: 2px solid;
    color: #EE5B4C;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

#submitButton:hover {
	margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #EE5B4C;
    border: 2px solid #EE5B4C;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

#left{
	margin-top: 20px;
	float:left;
	width:60%;
}

#right{
	float:right;
	background-image:url("images/telephone-bg.jpg");
	background-repeat: no-repeat;
	margin-right: 0;
	width:35%;
	height:560px;
}


td {
	font-size: 12px;
	color: #4A4A4A;

}


/* CONTACT PAGE CSS */

#contactHeader {
	height: 200px;
	width: 100%;
	background-image : url(images/contact-banner.jpg);

}

iframe {
	width: 100%;
	height:450px;
}

#data{
	margin-bottom: 50px;
	margin-top: 50px;
}

#data p {
	text-align: center;
	font-size: 14px;
	color: #4A4A4A;

}
/* TABLE @CONTACT.HTML STYLING */
#contactForm2 {
	background-color: #EE5B4C;
	color: #f4f4f4;
	font-size: 12px;
}

#center {
	width: 33%;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;

}
#center td {
	color: #f4f4f4;
	border-color: #f4f4f4;
}
#center input {
	color: #f4f4f4;
	border-color: #f4f4f4;
}

#center textarea {
	border: 2px solid #f4f4f4;
    color: #f4f4f4;
    background-color: transparent;
}

.select-styleWhite {
	padding: 0;
    margin: 0;
    border: 2px solid #f4f4f4;;
    color: #f4f4f4;
    width: 315px;
    height: 20px;
    border-radius: 1px;
    background-color: transparent;
    overflow: hidden;
     background: #EE5B4C url("images/arrow-white.png") no-repeat 98% 50%;
}

.select-styleWhite select {
    padding: 3px 4px;
    width: 130%;
    color: #f4f4f4;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-styleWhite select:focus {
    outline: none;
}

#submitButton-white {
	margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

#submitButton-white:hover {
	margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4f4f4;
    border: 2px solid #f4f4f4;
    color: #EE5B4C;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

/* DONATE PAGE CSS */
#donateHeader{
	height: 200px;
	width: 100%;
	background-image : url(images/donate-banner.jpg);
}

#atas{
		background-color:transparent;
		height:70px;
}

#logo {
	float: left;
	padding-top:30px;
    padding-left: 15px;
    display: inline-block;
    position: relative;
	z-index:999;
}

#mainDonate h2 {
	color: #D06E32;
	text-align: center;
	margin-top: 50px;
}

#mainDonate p {
	color: #4A4A4A;
	text-align: center;
	margin-top: 20px;
	font-size: 12px;

}

#mainDonate {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#paraDonate{
	width: 48%;
	margin-right: auto;
	margin-left: auto;

}

#produceImg {
	width: 50%;
	margin-top: 30px;
	margin-bottom: 55px;
	margin-right: auto;
	margin-left: auto;

}

#donateForm {

	background-color: transparent;
	color: #4A4A4A;
	font-size: 12px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;

}

#donateForm h4{
	font-size: 14px;

}

#line {
	display: inline;
	float: right;
	position: relative;
	width:210px;
}

#creditCard {
	margin-left: 3px;
	position: relative;
	}


.select-style-small {
	padding: 0;
    margin: 0;
    border: 2px solid #4A4A4A;;
    color: #4A4A4A;
    width: 55px;
    height: 20px;
    border-radius: 1px;
    background-color: transparent;
    overflow: hidden;
     background: #fff url("images/arrow-black.png") no-repeat 90% 50%;
}

.select-style-small select {
    padding: 3px 4px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style-small select:focus {
    outline: none;
}

#submitButton2 {
	margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #EE5B4C;
    background-color: transparent;
    border: 2px solid;
    color: #EE5B4C;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

#submitButton2:hover {
	margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #EE5B4C;
    border: 2px solid #EE5B4C;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

/* ABOUT PAGE CSS */
#about {
	display: block;
	margin-left: 10px;
	margin-bottom: 200px;
}

#about h1{
	color: #D06E32;
	letter-spacing: 2px;
}

#about p {
	color: #4A4A4A;
	text-align: left;
	font-size: 14px;

}

#about1 {
	width: 50%;
	margin-left: 40px;

}

#about1 img {
	width: 70%;
	height: 70%;
}


#p-left1 {
	float: left;
	display: inline;
	position: absolute;
	width: 45%;
	margin-left: 10px;
	margin-top: -14px;
}

#about2 {
	width: 50%;
	margin-left: 40px;
}

#about2 img {
	width: 70%;
	height: 70%;
}

#p-left2 {
	float: right;
	display: inline;
	position: absolute;
	width: 45%;
	margin-left: 10px;
	margin-top: -14px;
}

#about-banner {
	height: 200px;
	background-image:url("images/about-banner.jpg");
}


/* FOOTER CSS */

#footer{
	height: 200px;
	background-color: gray;
	clear: both;
	position: relative;
}

#data h4{
	text-align: center;
	color: #4A4A4A;
}

#footer h3{
	text-align: center;
	color: #f4f4f4;
}

#socmed {
	margin-top: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#Fb {
   background:url("images/facebook.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;
 
 
}

#Fb:hover {
   background:url("images/facebook-hover.png")no-repeat;
   height: 65px;
   width: 65px;
   margin-right: 15px;
   display: inline-block;
}

#Twitter {
   background:url("images/twitter.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;
  
 
}

#Twitter:hover {
   background:url("images/twitter-hover.png")no-repeat;
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;

}

#Insta{
   background:url("images/Instagram.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;
  
}

#Insta:hover{
   background:url("images/Instagram-hover.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;

}

#Youtube{
   background:url("images/youtube.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;
  
}

#Youtube:hover{
   background:url("images/youtube-hover.png") no-repeat; 
   height: 65px;
   width: 65px;
   display: inline-block;
   margin-right: 15px;

}
